
/VisualStudio/vs9.0/Setup/Debug
/VisualStudio/vs9.0/AREngineWX/Debug
/VisualStudio/vs9.0/AREngineWX/Release
/VisualStudio/vs9.0/AREngine/Debug
/VisualStudio/vs9.0/AREngine/Release
/VisualStudio/vs9.0/ARAppWX/Debug
/VisualStudio/vs9.0/ARAppWX/Release
/VisualStudio/vs9.0/ARAppOsgViewer/Debug
/VisualStudio/vs9.0/ARAppOsgViewer/Release
/setup.exe
/setup.msi
/.DS_Store
/bin/HUDs/Thumbs.db